<mat-card class="container-align-center">

    <mat-card-title class="payment-mat-card-title">
        Hub de Pagamentos
    </mat-card-title>

</mat-card>

<mat-card>
    
    <mat-card-subtitle class="payment-mat-card-subtitle">
        Selecione um método de pagamento:
    </mat-card-subtitle>
    
    <mat-card-content>
        <mat-grid-list cols="4" rows="1" rowHeight="4:1">

            <mat-grid-tile rowspan="1">
                <button mat-stroked-button class="payment-button" id="btnCreditCard" (click)="changePaymentForm($event)">
                    <mat-icon class="payment-icon">credit_card</mat-icon>
                    Cartão Crédito
                </button>
            </mat-grid-tile>
        
            <mat-grid-tile rowspan="1">
                <button mat-stroked-button class="payment-button" id="btnPix" (click)="changePaymentForm($event)">
                    <mat-icon class="payment-icon">pix</mat-icon>
                    Pix
                </button>
            </mat-grid-tile>
                
            <mat-grid-tile rowspan="1">
                <button mat-stroked-button class="payment-button" id="btnGiftCard" (click)="changePaymentForm($event)">
                    <mat-icon class="payment-icon">card_giftcard</mat-icon>
                    Cartão-Presente
                </button>
            </mat-grid-tile>
        
            <mat-grid-tile rowspan="1">
                <button mat-stroked-button class="payment-button" id="btnAme" name="abc" (click)="changePaymentForm($event)">
                    <mat-icon class="payment-icon">diamond</mat-icon>
                    Ame
                </button>
            </mat-grid-tile>
        
        </mat-grid-list>

    </mat-card-content>

</mat-card>

<div class="container-align-center">
    <div *ngIf="currentPaymentForm === this.paymentFormEnum.CreditCard">
        <app-pagseguro-form></app-pagseguro-form> 
    </div>

    <div *ngIf="currentPaymentForm === this.paymentFormEnum.Pix">
        <app-pix-form></app-pix-form>
    </div>

    <div *ngIf="currentPaymentForm === this.paymentFormEnum.GiftCard">
        <app-gift-card-form></app-gift-card-form> 
    </div>

    <div *ngIf="currentPaymentForm === this.paymentFormEnum.Ame">
        <app-ame-form></app-ame-form>
    </div>
</div>