<mat-card class="card-align-center">

    <mat-card-title class="payment-mat-card-title">
        Hub de Pagamentos
    </mat-card-title>

</mat-card>

<mat-card>
    
    <mat-card-subtitle class="payment-mat-card-subtitle">
        Selecione um método de pagamento:
    </mat-card-subtitle>
    
    <mat-card-content>
        <mat-grid-list cols="4" rows="1" rowHeight="4:1">

            <mat-grid-tile rowspan="1">
                <button mat-stroked-button class="payment-button">
                    <mat-icon class="payment-icon">sports_baseball</mat-icon>
                    Pagseguro
                </button>
            </mat-grid-tile>
        
            <mat-grid-tile rowspan="1">
                <button mat-stroked-button class="payment-button">
                    <mat-icon class="payment-icon">pix</mat-icon>
                    Pix
                </button>
            </mat-grid-tile>
                
            <mat-grid-tile rowspan="1">
                <button mat-stroked-button class="payment-button">
                    <mat-icon class="payment-icon">card_giftcard</mat-icon>
                    Cartão-presente
                </button>
            </mat-grid-tile>
        
            <mat-grid-tile rowspan="1">
                <button mat-stroked-button class="payment-button">
                    <mat-icon class="payment-icon">diamond</mat-icon>
                    Ame
                </button>
            </mat-grid-tile>
        
        </mat-grid-list>

    </mat-card-content>

</mat-card>

<!--
<mat-card class="card-align-center">

    <mat-card-content>

    <form [formGroup]="paymentForm">
        <p>
            <mat-form-field appearance="fill">
            
                <mat-label>Identificador do cartão-presente</mat-label>
                <input matInput placeholder="9008F6A0-D7B6" formControlName="giftCardNumber">
                <mat-error *ngIf="isInvalid('giftCardNumber') && submited">Informe um cartão-presente válido.</mat-error>
            
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
            
                <mat-label>Total</mat-label>
                <input matInput placeholder="9008F6A0-D7B6" formControlName="amount">
                <mat-error *ngIf="isInvalid('amount') && submited">Informe o valor a pagar.</mat-error>
            
            </mat-form-field>
        </p>
        <button mat-raised-button color="primary">Efetuar Pagamento</button>

    </form>

    </mat-card-content>

</mat-card>
-->