.container-align-center {
    text-align: center;
}

.payment-mat-card-title {
    font-size: xx-large;
    padding-top: 30px;
    padding-bottom: 30px;
}

.payment-mat-card-subtitle {
    font-size: x-large;
}

.payment-button {
    font-size: x-large;
    font-weight: bold;
    flex-grow: 1;
    height: 70px;
    background-size: cover;
}

.payment-icon {
    vertical-align: middle;
    transform: scale(2);
    padding-right: 5%;
}